[DEVICE]
Name=P33FJ256GP710A
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_LED_Driver5_DSPIC.mbas
File1=Click_LED_Driver5_config.mbas
File2=Click_LED_Driver5_types.mbas
File3=Click_LED_Driver5_pwm.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_LED_Driver5.pld
[Useses]
File0=UART
File1=Conversions
File2=String
File3=LED_Driver5_DSPIC
File4=easypicfusion_v7_P33FJ256GP710A
File5=//SPI
File6=//I2C
File7=PWM
Count=8